html,body{
    margin: 0px;
    padding: 0px;
    background: #eee;
}
h1,h2,h3,h4,h5{
    margin: 0px;
}

a{
    text-decoration: none;
}
  
ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

.header {
    height: 36px;
    width: 100%;
    background-color: #D19DAE;
}
.main-container {
    .aside {
        background-color: #6CE0A0;
        display: flex;
        flex-direction: column;
    }
    .main {
        background-color: #40C0ED;
        height: 400px;
    }
}
.footer {
    height: 30px;
    background-color: #064F25;
}