html,body{
    margin: 0px;
    padding: 0px;
    background: #eee;
}
h1,h2,h3,h4,h5{
    margin: 0px;
}

a{
    text-decoration: none;
}
  
ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}