<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- 引入css中的style.css -->
    <%- css('css/style') %>
    <title>
        This is my theme
    </title>
</head>
