<header class="neat-header">
    <nav>
        <% theme.nav.forEach(r => { %>
            <a href=<%=Object.values(r)%> >
                <%= Object.keys(r) %>
            </a>
        <% }) %>
    </nav>
</header>